@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav {
    width: 100%;
    max-width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-wrap > div {
    width: 100%;
    height: 100vh;
    background-color: #fff8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-wrap .section1 {
    background-color: #a992ff;
}

.section-wrap .section2 {
    background-color: #92b8ff;
}

.section-wrap .section3 {
    background-color: #e992ff;
}

.box {
    width: 400px;
    height: 400px;
    background-color: #ff00b3;
}